.holder
    input#superSearch
    p В данном примере Backend реализован на Node.js, в качестве базы данных выступает Mongodb
    p Если эта реализация серверной части вам не подходит, смело закрывайте это видео после описания клиентской части
    p Ссылки на ресурсы с чистым фронтэндом и полным проектом в описании к видео
    p Киентский скрипт использует библиотеку jQuery
    p В этом уроке я покажу несколько техник поиска по базе данных Mongodb и напишу плагин для автоподстановки
    p Больше интересного на &#32;
      a(href="https://www.youtube.com/channel/UCSsg9NLCse2XQCIRgfmJu3Q", target="_blank") #BlondieCode
    p Мне нужно больше контента, чтобы страница максимально была похожа на настоящую
    p Пока я пишу бессвязный текст для уникального контента, в Google было отправлено более двух миллионов запросов
    p Спонсор семантичсекого ядра для демонстрации поиска мой кот Бонифаций

